.row{
    margin: 0;
    margin-top: 30px;
}

@media screen and (max-width: 640px) {
    .filterParent {
        max-width: 100%;
        margin-left: calc(50% - 230px/2);;
    ;
    }
    .showCardsParent{
        margin-left: calc(50% - 442px/2);
    }
}
.slick-next:before{
    margin-left: -50px;
}
.slick-slider{
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}
.page-link{
    width: 150px;
    text-align: center;
}
.navigation{
    margin-top: 20px!important;
}
.slider-header{
    font-weight: lighter;
    width: max-content;
    color: #C4C4C4;
    margin-left: 50px;
    padding-bottom: 5px;
    border-bottom: #C4C4C4 1px;
    border-bottom-style: solid;
}

.slider-header:hover{
    transition-duration: 0.5s;
    -webkit-transform: scale(1.05);
    -ms-ransform: scale(1.05);
    transform: scale(1.05);
    color: white;
}