[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=3.1"
django-cors-headers = "~=3.5"
mysql-connector = "~=2.2"
graphene = "~=2.1"
graphene-django = "~=2.13"
mysqlclient = "~=2.0"
graphene-file-upload = "~=1.2"
google-auth = "~=1.21"
requests = "~=2.24"
django-environ = "~=0.4"
yapf = "*"
django-mptt = "*"
bs4 = "*"
channels = "*"
channels-redis = "==2.4.2"
psycopg2-binary = "*"
celery = "==5"
sendgrid = "*"

[requires]
python_version = "3.6"
