.App-logo{
    position: absolute;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    width: 250px;
    height: 110px;
    left: calc(50% - 250px/2);
    top: 0;
    background: #C4C4C4;
}

@media screen and (max-width: 820px) {
    .App-logo {
        width: 200px;
        left: calc(50% - 180px/2);
        height: 70px;
        ;
    }
}

h4.logoTitle{
    margin-top: 10px;
    height: 69px;
    font-family: Pridi;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 46px;
}

@media screen and (max-width: 640px) {
    .App-logo {
        display: None;
    ;
    }
}