.row{
    margin: 0;
}

@media screen and (max-width: 640px) {
    .filterParent {
        max-width: 100%;
        margin-left: calc(50% - 230px/2);;
    ;
    }
    .filmCardsParent{
        margin-left: calc(50% - 283px/2);
    }
}