.body{
    background-color: #FFFFFF;
}
.aboutUs{
    padding: 25px;
    background-color: #1d1b1b;
}

@media screen and (max-width: 660px) {
    .aboutUs {
        display: None;
    ;
    }
}

.signInFormContainer{
    padding: 25px;
    background-color: #310000;
}

.signInContainer{
    margin-top: 15%;
}

.formTitle{
    color: #C4C4C4;
    text-align: center;
}

.aboutUsInfo{
    line-height: 150%;
    color: #FFFFFF;
    text-align: center;
}

.signInForm{
    margin-top: 30px;
}

.signInForm input{
    width: 100%;
}

.btnSubmit{
    width: 100px;
}
