.card{
    margin: 15px;
    height: 280px;
    width: 152px;
}

.card:hover{
    transition-duration: 0.5s;
    -webkit-transform: scale(1.05);
    -ms-ransform: scale(1.05);
    transform: scale(1.05);
}

.filmsCardsRow{
    display: inline;
}

.card-body{
    padding: 0;
}
.card-text {
    position: absolute;
    font-size: small;
    bottom: 0!important;
    text-align: center;
    width: 100%;
}

.card-title{
    font-family: "Candara";
    text-align: center;
    font-size: smaller;
    overflow: hidden!important;
    margin: 0!important;
}

@media screen and (max-width: 640px) {
    .card{
        margin-left: calc(50% - 200px/2);
    }
}